
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>Team Janet</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="do a barrel roll" />
	<meta name="keywords" content="seriously guys, no inside jokes" />
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="screen.css" media="screen" />
	<script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="jquery.flot.js"></script>
</head>
<body>

<div id="header">
	<h1>Janet</h1>
	<h2></h2>
	<div id="menu">
		<ul>
			<li><a href="/">Track<span>sub</span></a></li>
			<li><a href="/reset">Reset<span>sub</span></a></li>
			<li><a href="/snapshot">Snapshot<span>send</span></a></li>
		</ul>
	</div>
	<p id="tagline">we like to use real names for some reason</p>

</div>
<div class="colmask rightmenu">
	<div class="colleft">
		<div class="col1">
    <!-- Left side start -->
    <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
