
body {
	margin:0 auto;
	padding:0;
	background:#fff;
	max-width:1200px;
	font-family: 'Droid Sans', sans-serif;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background: teal;
	text-decoration:none;
}
h1 {
	margin:1em 0 .2em 0;
	font-size: 5em;
}

h2{
	margin:.8em 0 .5em 0;
	font-size: 1.5em;
	color: teal;
	padding:0;
}
h3 {
	margin:.8em 0 .2em 0;
	font-size: 1.25em;
	color: teal;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}


/* Header styles */
#header {
	clear:both;
	float:left;
	border-bottom:1px solid #000;
	width:100%;
}

#header p, #header h1, #header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header h1 {
  float: left;
}
#header img {
  display: block;
  float: left;
  width: 100px;
}
#header h2 {
  display: block;
  clear: both;
}
#menu ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#menu ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#menu ul li a {
	display:block;
	float:left;
	padding: 10px 5px;
	margin:0 5px 5px 1px;
	text-align:center;
	background:#99ff99;
	min-width: 100px;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#menu ul li a:hover {
	background: teal;
	color:#fff;
}
#menu ul li a.active,
#menu ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#menu ul li a span {
	display:block;
	font-size: 60%;
}

#tagline {
	clear:both;
	background: #eeeeee;
	border-top:4px solid teal;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	margin: 0 auto;
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.right,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin:0;
}


.zebra
{
	font-size: 12px;
	text-align: left;
	width: 100%;
	border-collapse: collapse;
	margin: 10px auto;
}
.zebra th
{
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-weight: normal;
	padding: 10px 8px;

}
.zebra td
{
	padding: 8px;
	color: #669;
}
.zebra thead
{
	color: teal;
	background: #eeeeee url(./33original.gif) repeat;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}
.zebra tr:nth-child(2n) {
  background-color: #99ff99;
}

.zebra tr:hover {
	color: #369;
	border: 1px #eee solid;
}
